/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

html{
    font-size: 62.5%;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.justifyContent{
    justify-content: center;
}

.alignItems{
    align-items: center;
}

.button{
    background: none;
    border: 2px solid white;
    padding: 1rem 4rem;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


.hidden{
    display: none;
}

#home header a, #home header p, #home header h1, #home header i, #home .banner h1, #home .banner p, #home .banner a{
    color: white;
}

/*Home Header
**************************************************************************************/

#header{
position: fixed;
background: #242943;

}

#home main{
    background: #242943;
    height: 64vh;
    width: 100%;
}

#home main div{
    padding: 2rem;
}

#home header, #home .banner{
    width: 70%;
}

#home .banner{
    align-items: flex-start;
}

#home .banner h1{
    font-size: 4rem;
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 3rem;
}

#home .banner p{
    width: 35%;
    margin-right: 2rem;
}

#home .banner a{
    font-size: 2.5rem;
    align-self: center;
}

#home main div{
    width: 100%;
}

#home main .box{
    height: 100%;
}

#home .container{
    justify-content: space-between;
}

#home header{
    width: 100%;
}

#home nav#menu, #home ul{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    position: fixed;
}

#home main #header .logo{
    color: #242943;
    background: white;
    padding: .5rem 1rem;
    font-size:1rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

nav i, nav a, p{
    font-size: 2rem;
}

h3{
    font-size: 3rem;
}

/*Home FGO
**************************************************************************************/
#home #one{
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}


#home section{
    margin: 0rem;
    padding: 2rem;
    border: 0rem;
}

#home .fgo{
    width: 35%;
    height: 60vh;
}

#home .epic{
    Width: 65%;
    height: 60vh;
}

#home .frontline{
    width: 60%;
    height: 60vh;
}

#home .arknight{
    width: 40%;
    height: 60vh;
}

#home .genshin{
    width: 40%;
    height: 60vh;
}

#home .priconne{
    width: 60%;
    height: 60vh;
}

#home .grid, #home #one div #home #one{
    height: 100%;
}


#home .priconne{
    background: no-repeat url('assets/transparentPriconne.png') center/cover;
}

#home .priconne:hover{
    background: no-repeat url('assets/priconne.jpg') center/cover;
}

#home .priconne:hover,#home  .genshin:hover,#home  .arknight:hover,#home  .epic:hover,#home  .fgo:hover,#home  .frontline:hover{
transition: .35s;
}


#home .genshin{
    background: no-repeat url('assets/transparentGenshin.png') center/cover;
}

#home .genshin:hover{
    background: no-repeat url('assets/genshin.jpg') center/cover;
}

#home .arknight{
background: no-repeat url('assets/transparentArknight.png') center/cover;
}

#home .arknight:hover{
background: no-repeat url('assets/arknight.jpg') center/cover;
}


#home .frontline{
background: no-repeat url('assets/transparentFrontline.png') center/cover;
}

#home .frontline:hover{
background: no-repeat url('assets/frontline.jpg') center/cover;
}

#home .fgo{
background: no-repeat url('assets/transparentFGO.png') center/cover;
}

#home .fgo:hover{
background: no-repeat url('assets/fateGrandOrder.jpg') center/cover;
}

#home .epic{
background: no-repeat url('assets/transparentEpic.png') center/cover;
}


#home .epic:hover{
background: no-repeat url('assets/epicSeven.jpg') center/cover;
}

#home a{
    color: black;
}


/*Footer
**************************************************************************************/

#footer{
    width:100%;
    padding-bottom: 2rem;
    background: #242943;
}

#footer h3, #footer a, #footer a, #footer span, #footer label, #footer small, #footer i, #footer input{
    font-size: 3rem;
    color: white;
}

#footer form{
    border-bottom: 3px solid white;
    width: 60%;
    padding: 2rem;
    padding-right: 4rem;
    border-right: 3px solid white;
    align-items: flex-end;
}

#footer span{
    border-top: 3px solid white;
    word-spacing: .2rem;
}

#footer span a{
    margin-left: 2rem;
}

#footer section{
    width: 40%;
}

#footer label{
    margin-bottom: 2rem;
}

#footer input{
    width: 100%;
    background: rgba(42,47,74);
    height: 6vh;
}

#footer .form{
width: 100%;
padding-bottom: 2rem;
}

#footer .name{
    padding-right:2rem;

}

#footer div{
    width: 100%;
}



#footer textarea{
    width: 100%;
    background: rgba(42,47,74);
    height: 36vh;
}

#footer .buttons input{
    width: 40%;
}

#footer .buttons{
    padding: 2rem;
    justify-content: space-around;
}

#footer .container-alt{
    width: 100%;
}

#footer .send{
    background-color: white;
    border: 3px solid white;
    color: rgba(42,47,74);
}

#footer .reset{
    border: 1px solid rgba(42,47,74);
    border: 3px solid white;
}

#footer #icons{
    border-bottom: 3px solid white;
    width: 40%;
    justify-content: center;
}


#footer .icons a, #footer.icons i{
    color: white;
    font-size: 5rem;
}

#footer li, #footer ul{
    height: 4rem;
    position: relative;
}   

#footer .icons{
    height: 19vh;
    padding: 2rem;
    justify-content: flex-start;
}

#footer .icons div{
    width: 60%;
    justify-content: space-around;
}


#footer div i{
    height: 20%;
 padding: 2rem;
}

#footer section{
    padding: 0rem;
}


#footer .contact, #footer .portfolio, #footer .icons{
    padding: 1rem;
    border-bottom: 2px solid white;
}

#footer .portfolio{
    border-bottom: none;
    padding-bottom: 4rem;
}

#footer .contact{
    padding-bottom: 5rem;
}